<div class="container">
  <div class="user-details">
    <h3> Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Languages</h4>
      
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-go-line colored"></i>
      
      <p>C++, TypeScript, Golang, Python, C#, HTML/CSS.</p>
    </div>
    <div class="four columns">
      <h4>Technologies</h4>
      
      <i class="devicon-react-plain-wordmark colored"></i>
      <i class="devicon-debian-plain colored"></i>
      <i class="devicon-vuejs-plain colored"></i>

      <p>React, Jest, Enzyme, Vue, Protocol Buffers, Thrift, Linux.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>

      <i class="devicon-git-plain colored"></i>
      <i class="devicon-bitbucket-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      
      <p>Git, Docker, Jenkins, Jira, Bitbucket, Confluence.</p>
    </div>
  </div>
</div>
