<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Languages</h4>
      
      <i class="devicon-cplusplus-plain-wordmark"></i>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      
      <p>C++, C#, Python, TypeScript, HTML/CSS</p>
    </div>
    <div class="four columns">
      <h4>Technologies/tools</h4>
      
      <i class="devicon-angularjs-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-windows8-plain colored"></i>
      <p>stl, Boost, .NET, AngularJS, MFC, WPF, git, Perforce, JIRA, CI, Windows, Linux.</p>
    </div>
    <div class="four columns">
      <h4>Management</h4>
      <i class="devicon-git-plain"></i>
      
      <i class="devicon-bitbucket-plain-wordmark colored"></i>
      <i class="devicon-confluence-plain-wordmark colored"></i>
      
      <p>Software lead. Project manager. Technical assurance. Line manager.</p>
    </div>
  </div>
</div>
